@page "/settings"
@inject IJSRuntime JS
<h1>Settings</h1>


<button type="button" class="btn btn-dark" @onclick="ConsoleLog">Log Message</button>




@code {

	public async Task ConsoleLog()
    {
        await JS.InvokeVoidAsync("logMessage", "Connecting to Libp2p");
    }

}
