@inherits LayoutComponentBase
<!DOCTYPE html>

<div class="page">
    <MudThemeProvider/>
            <MudDialogProvider/>
            <MudSnackbarProvider/>
    <div>
        <NavMenu />
    </div>

    <div class="main">
        <div>
            <a href="https://github.com/uink45/Beacon-Chain-Light-Client-Prototype"  target="_blank">
                <img src="/GitHub-Mark-120px-plus.png" style="width: 3rem; height: 3rem; position: fixed; right: 2vmin; top: 2vmin; z-index: 1;"/>
                
            </a>
            
        </div>

        <div>
            @Body
        </div>
    </div>

   
</div>
